<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
				layout:decorator="decorators/admin">

<head>
	<meta charset="utf-8" />
	<title>Crear Variedad :: Cuaderno de Campo :: Administración :: OpenWine</title>   		
</head>

<body>
	
	<section layout:fragment="content">
	
		<header>
            <div class="icons"><i class="icon-magic"></i></div>
               	<h5 th:text="${moduleTitle}">[Titulo Modulo]</h5>
               	<div class="toolbar">
               	<ul class="nav nav-tabs">
               		<li title="" class="icon index_collection_link">
            			<a class="pjax" href="/admin/cuaderno/variedad/lista.html" th:href="@{/admin/cuaderno/variedad}" >
              				<i class="icon-th-list"></i>
              				<span th:text="#{web.lista}">[Lista]</span>
            			</a>
         				</li>
          			<li title="" class="active icon new_collection_link">
            			<a class="pjax" href="#" >
              				<i class="icon-plus"></i>
              				<span th:text="#{web.nuevo}">[Nuevo]</span>
            			</a>
          			</li>
            	</ul>
        	</div>
		</header>	
                                
     	<div class="body tab-content">
			<div id="icon-container" class="tab-pane active">

           		<form class="form-horizontal" th:object="${variedad}" th:action="@{/admin/cuaderno/variedad/nuevo}" method="post">        		
           		
                	<fieldset>
                	
                		<div class="row">
                	
	                    	<div class="control-group">
	                        	<label for="tipo" class="control-label" th:text="#{web.tipo}">[Tipo]</label>
	                            <div class="controls">
	                            	<select name="tipo" id="tipo" th:field="*{tipo}" class="validate[required] span8" th:remove="all-but-first" autofocus="autofocus">
	                                	<option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="${tipo.descripcion}" >[Tipo Variedad]</option>
									</select>
									<span class="label label-warning" th:if="${#fields.hasErrors('tipo')}" th:errors="*{tipo}">[valor incorrecto]</span>
	                         	</div>
	                      	</div>
	                 		
	                       	<div class="control-group">
	                        	<label for="nombre" class="control-label" th:text="#{web.nombre}">[Nombre]</label>
	                           	<div class="controls">                                                    	
	                            	<input type="text" size="100" class="validate[required] text-input span8" name="nombre" id="nombre" th:field="*{nombre}" th:value="${nombre}" />
	                            	<span class="label label-warning" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">[valor incorrecto]</span>	                            	
	                          	</div>                          	
	                     	</div>
	                                      
	                      	<div class="control-group">
	                        	<label for="descripcion" class="control-label" th:text="#{web.descripcion}">[Descripción]</label>
	                           	<div class="controls">
	                            	<textarea rows="8" maxLength="2000" class="validate[required] text-input span8" name="descripcion" id="descripcion" th:field="*{descripcion}" th:value="${descipcion}" ></textarea>
	                            	<span class="label label-warning" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">[valor incorrecto]</span>
	                         	</div>
							</div>

	                       	<div class="control-group">
	                        	<label for="calificacion" class="control-label" th:text="#{web.calificacion}">[Calificación]</label>
	                          	<div class="controls">
	                            	<select name="calificacion" id="calificacion" th:field="*{calificacion}" class="validate[required] span8" th:remove="all-but-first">
	                                	<option th:each="calificacion : ${calificaciones}" th:value="${calificacion}" th:text="${calificacion.descripcion}" >[Calificación]</option>
									</select>
									<span class="label label-warning" th:if="${#fields.hasErrors('calificacion')}" th:errors="*{calificacion}">[valor incorrecto]</span>
	                         	</div>
	                     	</div>
	                           
	                       	<div class="control-group">
	                        	<label for="productividad" class="control-label" th:text="#{web.productividad}">[Productividad]</label>
	                          	<div class="controls">
	                            	<select name="productividad" id="productividad" th:field="*{productividad}" class="validate[required] span8" th:remove="all-but-first">
	                                	<option th:each="productividad : ${productividades}" th:value="${productividad}" th:text="${productividad.descripcion}" >[Productividad]</option>
									</select>
									<span class="label label-warning" th:if="${#fields.hasErrors('productividad')}" th:errors="*{productividad}">[valor incorrecto]</span>
	                         	</div>
	                     	</div>     
	                        	
	                      	<div class="control-group">
	                      		<label for="maduracion" class="control-label" th:text="#{web.maduracion}">[Maduración]</label>
	                           	<div class="controls">
	                            	<select name="maduracion" id="maduracion" th:field="*{maduracion}" class="validate[required] span8" th:remove="all-but-first" data-rel="chosen">
	                                	<option th:each="maduracion : ${maduraciones}" th:value="${maduracion}" th:text="${maduracion.descripcion}" >[maduracion]</option>
									</select>
									<span class="label label-warning" th:if="${#fields.hasErrors('maduracion')}" th:errors="*{maduracion}">[valor incorrecto]</span>
	                         	</div>
	                     	</div>
                     	
                     	</div>

						<div class="row">
                           
	                      	<div class="form-actions no-margin-bottom">
	                        	<input type="submit" value="[Grabar]" class="btn btn-primary" th:value="#{web.grabar}" />
	                           	<input type="reset" value="[Limpiar]" class="btn btn-primary" th:value="#{web.limpiar}" />
	                    	</div>
	                    	
	                    </div>	                    	
                    	                   		
                	</fieldset>
            	</form>	

			</div>
		</div>	
	
	</section>
		
</body>
</html>